*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #c91830, #4e0301);
}

.battle-grid {
  display: grid;
  /* row-gap: 2rem; */
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: 24rem; /* 1 column */
  grid-template-rows: 7rem repeat(4, 6rem); /* 4 rows */
}

.battle-grid > .battle-button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.battle-grid > .battle-button:hover,
.battle-grid > .battle-button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.opponent {
  grid-column: 1 / -1; /* 100% column */
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
}

.opponent .opponent-status {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.opponent .opponent-life {
  color: white;
  font-size: 2.5rem;
}